# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### Yeoman template
www/node_modules/
www/bower_components/
*.log

build/
dist/

platforms/
plugins/

www/cache-config.json
